
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Players", "Index", "Players") <br/>
@Html.ActionLink("Teams", "Index", "Teams") <br/>
@Html.ActionLink("Conferences", "Index", "Conferences")<br/>
@Html.ActionLink("Divisions", "Index", "Divisions")<br/>
@Html.ActionLink("Retired Players", "Index", "Retired_Players")

